* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --dc-primary: #0c7dedFF;
  --dc-light: white;
  --dc-dark: #313130;
  --dc-black: #1D1C1D;
}

.container {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}